<template>
	<div class="panel panel-default cl-xs-11">
		<div class="panel-heading">
			<h3>Add Client </h3>
		</div>
		<br />
		<!--<p if.bind="!forecasts"><em>Loading...</em></p>-->
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<!-- Client Name -->
							<label for="clientName" class="control-label">Client Name</label>
							<input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name" value.bind="clientName">
						</div>

						<div class="col-xs-5">
							<!-- Client Secret -->
							<label for="clientSecret" class="control-label">Client Secret</label>
							<input type="text" class="form-control" id="clientSecret" name="clientSecret" placeholder="Clinet Secret" value.bind="clientSecret">
						</div>
					</div>


				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<!-- Grant Type -->
							<label for="grantType" class="control-label">Grant Type</label>
							<select class="form-control" value.bind="grantType">
								<option model.bind="null">Choose...</option>
								<option repeat.for="gt of grantTypes"
										model.bind="gt">
									${gt}
								</option>
							</select>
						</div>

						<div class="col-xs-5">
							<!-- Client Properties -->
							<label for="clientProperties" class="control-label">Client Properties</label>
							<select class="form-control" value.bind="clientProperty">
								<option model.bind="null">Choose...</option>
								<option repeat.for="cp of clientProperties"
										model.bind="cp">
									${cp}
								</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<!-- Identity Resources -->
							<label for="identityResources" class="control-label">Identity Resources</label>
							<p repeat.for="identityResource of identityResources">
								<input type="checkbox" model.bind="identityResource.id" checked.bind="selectedIdentityResources">
								${identityResource.name}
							</p>
						</div>

						<div class="col-xs-5">
							<label for="ApiResources" class="control-label">Api Resources</label>
							<p repeat.for="apiResource of apiResources">
								<input type="checkbox" model.bind="apiResource.id" checked.bind="selectedApiResources">
								${apiResource.name}
							</p>
						</div>
					</div>
				</div>


				<div class="form-group">
					<!-- Client Redirect Url -->
					<label for="clientUri" class="control-label">Client URI</label>
					<input type="text" class="form-control" id="clientUri" name="clientUri" placeholder="Client URI" value.bind="clientUri">
				</div>

				<div class="form-group">
					<!-- Redirect Url -->
					<label for="redirectUrl" class="control-label">Redirect URL</label>
					<input type="text" class="form-control" id="redirectUrl" name="redirectUrl" placeholder="Redirect URL" value.bind="redirectUrl">
				</div>

				<div class="form-group">
					<!-- Front Channel Logout Url -->
					<label for="frontChannelLogoutUrl" class="control-label">Front Channel Logout URL</label>
					<input type="text" class="form-control" id="frontChannelLogoutUrl" name="frontChannelLogoutUrl" placeholder="Front Channel Logout URL" value.bind="frontChannelLogoutUrl">
				</div>

				<div class="form-group">
					<!-- Post Logout Url -->
					<label for="postLogoutUrl" class="control-label">Post Logout URL</label>
					<input type="text" class="form-control" id="postLogoutUrl" name="postLogoutUrl" placeholder="Post Logout URL" value.bind="postLogoutUrl">
				</div>

				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary">Add</button>
				</div>

			</form>
		</div>
	</div>
</template>
